footer.footer.cd-research-footer
  .container
    .row.align-items-start

      // LEFT: Brand + giới thiệu + tags
      .col-lg-5.col-md-6.mb-30
        .footer-widget.logo-widget
          .footer-logo
            a(href="index.html" aria-label="CordyDew Home")
              img(src="assets/img/logo/footer-logo.png" alt="CordyDew")

          .widget-content
            .text
              p= footer.about

            .cd-footer-badges
              span.cd-badge-sm
                i.fa.fa-flask(aria-hidden="true")
                |  R&D
              span.cd-badge-sm
                i.fa.fa-leaf(aria-hidden="true")
                |  Probiotics
              span.cd-badge-sm
                i.fa.fa-shield(aria-hidden="true")
                |  An toàn

      // MIDDLE: Contact (dạng text + icon như ảnh)
      .col-lg-4.col-md-6.mb-30
        .footer-widget.links-widget
          h5.footer-title LIÊN HỆ
          .widget-content
            ul.cd-contact-simple
              li
                i.fa.fa-envelope(aria-hidden="true")
                a(href=`mailto:${site.email}`)= site.email

              li
                i.fa.fa-phone(aria-hidden="true")
                | Zalo:
                a(href=`tel:${site.phone}`)= site.phone

              li
                i.fa.fa-instagram(aria-hidden="true")
                | Instagram:
                a(href=site.instagram target="_blank" rel="noopener") @cordydew

          a.btn-bg.cd-footer-btn.mt-20(href="contact.html") Kết nối hợp tác

      // RIGHT: Research / Unit (dạng text như ảnh)
      .col-lg-3.col-md-12.mb-30
        .footer-widget.links-widget
          h5.footer-title ĐƠN VỊ NGHIÊN CỨU
          .widget-content
            .cd-research-text
              p
                | Nhóm nghiên cứu & phát triển CordyDew
                br
                | Nhóm nghiên cứu & phát triển CordyDew
                br
                | đến từ Khoa Sinh học & Môi trường

              p
                | Trường Đại học Công Thương Thành phố Hồ Chí Minh

              p.cd-address= footer.address

  .footer-bottom
    .container
      .footer-bottom-inner
        .copyright
          | © 
          span#cdYear
          |  CordyDew. All rights reserved.
        .cd-footer-note
          | Nội dung phục vụ mục đích giới thiệu nghiên cứu & hợp tác.
