meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

title #{site.title || "CordyDew"}

link(rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon")

meta(name="description" content=site.description)
meta(name="keywords" content=(site.keywords || "CordyDew"))
meta(name="author" content="CordyDew")

meta(property="og:type" content="website")
meta(property="og:title" content="CordyDew – Thạch sữa chua Probiotics từ thiên nhiên")
meta(property="og:description" content="Nâng tầm sức khỏe tự nhiên với thạch sữa chua probiotics CordyDew.")
meta(property="og:image" content=site.ogImage)
meta(property="og:url" content=site.url)
meta(property="og:site_name" content="CordyDew")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="CordyDew – Thạch sữa chua Probiotics")
meta(name="twitter:description" content="Thạch sữa chua CordyDew giúp hỗ trợ tiêu hóa và tăng cường sức khỏe.")
meta(name="twitter:image" content=site.ogImage)

link(rel="stylesheet" href="assets/css/style.css")
link(rel="stylesheet" href="assets/css/responsive.css")
