// QUALITY TESTING
section.cd-quality.pt-70.pb-70
  .container
    .row
      .col-lg-12
        h2.cd-quality-title KIỂM NGHIỆM CHẤT LƯỢNG SẢN PHẨM

    .row.mt-35.g-4
      // Card 1
      .col-lg-4
        .cd-qcard
          .cd-qcard-media
            img.cd-qcard-img(
              src="assets/img/introduce/testing-1.png"
              alt="Kết quả kiểm nghiệm - An toàn vi sinh"
            )
          h4.cd-qcard-title An toàn vi sinh
          p.cd-qcard-desc
            | Không phát hiện các vi sinh vật gây hại như E. coli, Salmonella, Staphylococcus aureus, Listeria monocytogenes

      // Card 2
      .col-lg-4
        .cd-qcard
          .cd-qcard-media
            img.cd-qcard-img(
              src="assets/img/introduce/testing-2.png"
              alt="Kết quả kiểm nghiệm - Giá trị dinh dưỡng"
            )
          h4.cd-qcard-title Giá trị dinh dưỡng rõ ràng
          p.cd-qcard-desc
            | Cung cấp năng lượng, dễ tiêu hóa, phù hợp với lối sống hiện đại.

      // Card 3
      .col-lg-4
        .cd-qcard
          .cd-qcard-media
            img.cd-qcard-img(
              src="assets/img/introduce/testing-3.png"
              alt="Kết quả kiểm nghiệm - Kim loại nặng & độc tố"
            )
          h4.cd-qcard-title Kim loại nặng & độc tố
          p.cd-qcard-desc
            | Không phát hiện: Thủy ngân (Hg), Asen (As), Chì (Pb), Cadimi (Cd) và Aflatoxin M1
